<div class="row margin-left-right-0 margin-top-1em md-up-padding-left-right-4em padding-top-4em padding-bottom-2em  bg-very-light" ng-init="getArticleSection()">
    <div class="col-xs-12 col-md-4" ng-repeat="articleSection in articleSections">
        <div class="row" >
            <h4 class="col-xs-8 large-180">{{articleSection.name}}</h4>
            <img src="/statics/image/lanzuan/home/huodongzhuanti.png" class="col-xs-12 padding-top-1em" ng-if="articleSection.image"/>
            <a href="#" class="col-xs-4 green-link"  ng-if="articleSection.articles">
                <span class="large-110">More</span>
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-angle-right fa-stack-1x fa-inverse padding-left-2"></i>
                            </span>
            </a>
        </div>
        <div class="list-group small-90" ng-if="articleSection.articles">
            <a href="/article/{{article.id}}" class="list-group-item p-l-0 p-r-0 no-border no-background fa fa-ext-dot-blue"
               ng-repeat="article in articleSection.articles">
                <span class="label label-default color-grey bg-medium-grey-2 label-pill pull-right">{{article.date |date:'shortDate'}}</span>{{article.title}}
            </a>
        </div>
    </div>
</div>