<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
    <link href="/statics/plugin/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/statics/plugin/bootstrap-4.0.0-alpha/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/statics/css/style.css" rel="stylesheet" type="text/css">
    <link href="/statics/css/color.css" rel="stylesheet" type="text/css">
    <link href="/statics/css/responsive.css3.css" rel="stylesheet" type="text/css">
    <link href="/statics/css/bootstrap.custom.css" rel="stylesheet" type="text/css">
    <link href="/statics/css/lanzuan.css" rel="stylesheet" type="text/css">
</head>

<body ng-app="app">


<nav class="navbar bg-inverse" ng-init="fixTop=false" ng-class="{'navbar-fixed-top':fixTop}">
    <div class="navbar-brand">


        <i class="fa fa-male padding-left-2em"></i>


        欢迎您，蓝钻科技

        先生

        !
    </div>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link white-link" href="/" target="_blank"><i class="fa fa-home"></i>官网首页 </a>
        </li>
        <li class="nav-item">
            <a class="nav-link white-link" href="/admin/index"><i class="fa fa-gears"></i>管理首页 </a>
        </li>
        <li class="nav-item">
            <a class="nav-link white-link" href="/admin/file-editor"><i class="fa fa-pencil-square-o"></i>写文章 </a>
        </li>
        <li class="nav-item">
            <a class="nav-link white-link" href="/admin/article/list" target="_blank"><i class="fa fa-file-text"></i>文章列表
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link white-link" href="/admin/resource/list" target="_blank"><i class="fa fa-database"></i>网站资源
            </a>
        </li>
        <li class="nav-item pull-right">
            <div class="btn-group btn-group-sm">
                <button class="nav-link btn btn-primary" href="javascript:void(0)">
                    <i class="fa" ng-class="{'fa-angle-double-up':!fixTop,'fa-arrows-v':fixTop}"
                       ng-click="fixTop=!fixTop">{{!fixTop?"固定顶部":"取消固定"}}</i>
                </button>
                <button class="nav-link btn btn-primary" href="javascript:void(0)"><i class="fa fa-sign-out"></i>退出
                </button>
            </div>

        </li>
    </ul>
</nav>
<div ng-class="{'m-b-xl':fixTop}"></div>
<div class="container" ng-controller="AdminController">

    <div class="row p-t-2em p-a-0 m-a-0">
        <div class="col-xs-12 m-a-0 p-a-0">
            <div class="alert alert-info">
                <div>组件名称：蓝钻鼠标掠过类似手风琴模板1</div>
                <div>
                    组件说明：非标准bootstrap组件，需要依赖angularjs，效果为鼠标掠过按钮，在下方显示相应系列图片。在中等及以上屏幕每行显示4张图片，图片无边框效果；中等以下显示2张图片，图片带圆角相框效果。
                </div>
                <div ng-init="hiddenDevelopInfo=true">组件定义：(仅开发人员有用)
                    <i class="fa" ng-click="hiddenDevelopInfo=!hiddenDevelopInfo"
                       ng-class="{'fa-plus-square':hiddenDevelopInfo,'fa-minus-square':!hiddenDevelopInfo}"></i></div>
                <div class="list-group" ng-show="!hiddenDevelopInfo">
                    <div class="list-group-item">变量名:imageTextBlockGroup</div>
                    <div class="list-group-item">列表uri:/admin/image-text-block-group/list-page/</div>
                    <div class="list-group-item">列表数据uri:/admin/image-text-block-group/list/data</div>
                    <div class="list-group-item">数据uri:/image-text-block-group/home/data</div>
                    <div class="list-group-item">删除uri:/admin/image-text-block-group/delete/</div>
                    <div class="list-group-item">素材uri:/admin/image-text-block-group/image/upload-input</div>
                    <div class="list-group-item">另存uri:/admin/image-text-block-group/save-as</div>
                    <div class="list-group-item">保存uri:/admin/image-text-block-group/update</div>

                </div>
            </div>
        </div>
        <div class="col-xs-12 m-a-0 p-a-0">

            <label class="label label-default large-180">组件预览</label>


            <div class="row  m-l-r-0 m-t-2-4em m-b-1-6em md-up-p-l-r-4em " ng-init="getImageTextBlockGroup();_active=0">
                <div class="col-xs-12 col-md-9 p-a-0 m-a-0">
                    <span class="col-xs-12 col-md-4 col-lg-3 col-xl-2 p-r-0">
                        <h4 class="md-down-no-padding-left large-180">{{imageTextBlockGroup.text}}</h4>
                    </span>
                    <span class="col-xs-12 col-md-8 col-lg-9 col-xl-10 text-left m-a-0">

                        <span ng-repeat="block in imageTextBlockGroup.items">
                            <span ng-mouseover="$parent._active=$index"
                                  class="btn btn-padding-little bg-none sm-down-btn"
                                  ng-class="{'active bg-light-blue color-white':_active===$index}">
                            {{block.name}}
                            </span>
                            <span ng-if="$index!==imageTextBlockGroup.items.length-1"
                                  class="divider hidden-sm-down"></span>
                        </span>
                </span>
                </div>

            </div>
            <div class="row m-l-r-0 md-up-p-l-r-4em m-b-2em" ng-repeat="block in imageTextBlockGroup.items"
                 ng-class="{'active in':$parent._active===$index,'collapse':$parent._active!==$index}">
                <div class="col-xs-6 col-md-3 md-down-p-l-r-0" ng-repeat="imageTextItem in block.imageTextItems">
                    <a ng-href="{{imageTextItem.link}}" class="with-text-img" ng-mouseover="show=true"
                       ng-mouseleave="show=false">
                        <img class="md-down-img-thumbnail full-container img-responsive" ng-class="{'dark-07':show}"
                             ng-src="{{imageTextItem.image}}"/>

                        <div class="absolute-center small-90 hidden-md-down" ng-class="{'block':show,'hidden':!show}">
                            <div class="text-indent-1em">{{imageTextItem.text}}</div>
                            <button class="btn btn-primary m-t-05em btn-padding-little"
                                    ng-href="{{imageTextItem.link}}">了解详情
                            </button>
                        </div>
                    </a>

                    <p class="img-title">{{imageTextItem.title}}</p>
                </div>

            </div>


        </div>
    </div>

    <label class="label label-default large-180 m-t-md">编辑图文块组</label>

    <div class="row m-a-0 p-a-0" ng-init="getImageTextBlockGroupMaterial()">
        <div class="btn-group p-b-10">
            <label class="btn btn-info cursor-auto">当前方案：ImageTextBlockGroup One</label>
            <button class="btn btn-danger fa fa-save " type="button" ng-click="saveImageTextBlockGroup()">保存</button>
            <button class="btn btn-primary fa fa-copy" type="button" ng-click="newImageTextBlockGroup()">方案另存为</button>
            <a class="btn btn-primary fa fa-download white-link"
               ng-href="/admin/image-text-block-group/list-page/58ccc1e489b6fb121cd55c4b">应用方案</a>
            <a class="btn btn-primary fa fa-camera white-link"
               ng-href="/admin/image-text-block-group/image/upload-input/58ccc1e489b6fb121cd55c4b"> 上传素材</a>
            <button class="btn btn-primary fa fa-refresh" type="button" ng-click="resetImageTextBlockGroup()">重置
            </button>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-warning">
            <ul class="list-unstyled">
                <li><i class="fa fa-warning"></i> 如果没有合适的图标，您可以先<a
                        href='/admin/image-text-block-group/image/upload-input/58ccc1e489b6fb121cd55c4b'
                        style="text-decoration: underline;"><i>上传素材</i></a>；
                </li>
                <li><i class="fa fa-warning"></i> “另存方案”后，如果想应用该方案，可点击“应用其它方案”；</li>
                <li><i class="fa fa-warning"></i> 修改导航项名称，链接，更换图标以及“前面插入一条”、“删除词条”仅在客户端修改，点击上方的“保存”按钮才会保存修改。</li>
            </ul>
        </div>
    </div>
    <div class='input-group'>
        <label class="input-group-addon">大标题:</label>
        <input class='form-control' type='text' ng-model='imageTextBlockGroup.text'/>
    </div>
    <div class='label label-info col-xs-12 large-150 fa fa-edit m-t-md m-b-md'> 图文块</div>
    <div class='row p-t-xs p-b-md' ng-repeat='imageTextBlock in imageTextBlockGroup.items'>
        <div class='col-xs-8'>
            <div class='input-group'>
                <label class="input-group-addon">标题:</label>
                <input class='form-control' type='text' ng-model='imageTextBlock.name'/>
            </div>
            <div class='label label-info col-xs-12 large-150 fa fa-edit m-t-md m-b-md'> 图文项</div>
            <div class='row p-t-xs p-b-md' ng-repeat='imageTextItem in imageTextBlock.imageTextItems'>
                <div class='col-xs-8'>
                    <div class="btn-group row p-l-0 m-l-0">
                        <button type="button" class="btn btn-secondary btn-sm p-l-0 m-l-0">更换图片</button>
                        <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu bg-light-grey">
     <span ng-repeat="icon in imageTextBlockGroupImages" class="dropdown-item-inline"
           ng-click="imageTextItem.image=icon">
         <img type="text" ng-src="{{icon}}" class="img-ico-larger img-rounded"/>
     </span>
                        </div>
                    </div>
                    <div class='input-group'>
                        <label class="input-group-addon">图片文字:</label>
                        <input class='form-control' type='text' ng-model='imageTextItem.text'/>
                    </div>
                    <div class='input-group'>
                        <label class="input-group-addon">链接:</label>
                        <input class='form-control' type='text' ng-model='imageTextItem.link'/>
                    </div>
                    <div class='input-group'>
                        <label class="input-group-addon">标题:</label>
                        <input class='form-control' type='text' ng-model='imageTextItem.title'/>
                    </div>
                </div>
                <div class='col-xs-4'>
                    <div class='btn-group btn-group-sm'>
                        <button class='fa fa-trash btn  btn-primary' ng-click='removeImageTextBlockItem($index)'>删除整块
                        </button>
                        <button class='fa fa-caret-up btn btn-primary' ng-click='forwardImageTextBlockItem($index)'
                                ng-if='$index!==0'>整块前移
                        </button>
                        <button class='fa fa-caret-down btn btn-primary' ng-click='backwardImageTextBlockItem($index)'
                                ng-if='$index!==imageTextBlock.items.length-1'>整块后移
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-xs-4'>
            <div class='btn-group btn-group-sm'>
                <button class='fa fa-trash btn  btn-primary' ng-click='removeImageTextBlockGroupItem($index)'>删除整块
                </button>
                <button class='fa fa-caret-up btn btn-primary' ng-click='forwardImageTextBlockGroupItem($index)'
                        ng-if='$index!==0'>整块前移
                </button>
                <button class='fa fa-caret-down btn btn-primary' ng-click='backwardImageTextBlockGroupItem($index)'
                        ng-if='$index!==imageTextBlockGroup.items.length-1'>整块后移
                </button>
            </div>
        </div>
    </div>


</div>
<script src="/statics/plugin/angular/1.4.8/angular.min.js"></script>
<script src="/statics/plugin/angular/1.4.8/angular-route.min.js"></script>
<script src="/statics/js/jquery-3.1.1.min.js"></script>
<script src="/statics/plugin/bootstrap-4.0.0-alpha/dist/js/bootstrap.js"></script>
<script src="/app-js?componentId=58ccc1e489b6fb121cd55c4b"></script>

</body>

