<div class="row bg--blue-1 p-t-md p-b-md">
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">大标题</span>
            <input type="text" class="form-control" ng-model="imageTextBlockGroup.text"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='hover-bg-color-grey' ng-repeat='imageTextBlock in imageTextBlockGroup.items'>
        <div class="row">
            <div class=" p-a-1 col-xs-6">
                <div class='input-group input-group-sm'>
                    <span class="input-group-addon bg-info">标题</span>
                    <input type="text" class="form-control" ng-model="imageTextBlock.name"/>
                </div>
            </div>
            <div class='col-xs-6'></div>
        </div>
        <div class=" p-a-1 col-xs-6">
            <div class='hover-bg-color-grey' ng-repeat='imageTextItem in imageTextBlock.imageTextItems'>
                <div class="row">
                    <div class=" p-a-1 col-xs-6">
                        <div class='input-group input-group-sm'>
                            <span class="input-group-addon bg-info">图片</span>
                            <input type="text" class="form-control" ng-model="imageTextItem.image"/>
                        </div>
                    </div>
                    <div class='col-xs-6'></div>
                </div>
                <div class=" p-a-1 col-xs-6">
                    <div class='input-group input-group-sm'>
                        <span class="input-group-addon bg-info">图片文字</span>
                        <input type="text" class="form-control" ng-model="imageTextItem.text"/>
                    </div>
                </div>
                <div class='col-xs-6'></div>
            </div>
            <div class=" p-a-1 col-xs-6">
                <div class='input-group input-group-sm'>
                    <span class="input-group-addon bg-info">链接</span>
                    <input type="text" class="form-control" ng-model="imageTextItem.link"/>
                </div>
            </div>
            <div class='col-xs-6'></div>
        </div>
        <div class=" p-a-1 col-xs-6">
            <div class='input-group input-group-sm'>
                <span class="input-group-addon bg-info">标题</span>
                <input type="text" class="form-control" ng-model="imageTextItem.title"/>
            </div>
        </div>
        <div class='col-xs-6'></div>
    </div>
</div>
<div class="row">
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm solid-silver-border'>
            <span class="input-group-addon ">图片</span>
            <input type="text" class="form-control" ng-model="imageTextItem.image"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">图片文字</span>
        <input type="text" class="form-control" ng-model="imageTextItem.text"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">链接</span>
        <input type="text" class="form-control" ng-model="imageTextItem.link"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">标题</span>
        <input type="text" class="form-control" ng-model="imageTextItem.title"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
<div class="row">
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">图片</span>
            <input type="text" class="form-control" ng-model="imageTextItem.image"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">图片文字</span>
        <input type="text" class="form-control" ng-model="imageTextItem.text"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">链接</span>
        <input type="text" class="form-control" ng-model="imageTextItem.link"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">标题</span>
        <input type="text" class="form-control" ng-model="imageTextItem.title"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
<div class="row">
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">图片</span>
            <input type="text" class="form-control" ng-model="imageTextItem.image"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">图片文字</span>
        <input type="text" class="form-control" ng-model="imageTextItem.text"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">链接</span>
        <input type="text" class="form-control" ng-model="imageTextItem.link"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">标题</span>
        <input type="text" class="form-control" ng-model="imageTextItem.title"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
</div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
<div class="row">
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">标题</span>
            <input type="text" class="form-control" ng-model="imageTextBlock.name"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='hover-bg-color-grey' ng-repeat='imageTextItem in imageTextBlock.imageTextItems'>
        <div class="row">
            <div class=" p-a-1 col-xs-6">
                <div class='input-group input-group-sm'>
                    <span class="input-group-addon bg-info">图片</span>
                    <input type="text" class="form-control" ng-model="imageTextItem.image"/>
                </div>
            </div>
            <div class='col-xs-6'></div>
        </div>
        <div class=" p-a-1 col-xs-6">
            <div class='input-group input-group-sm'>
                <span class="input-group-addon bg-info">图片文字</span>
                <input type="text" class="form-control" ng-model="imageTextItem.text"/>
            </div>
        </div>
        <div class='col-xs-6'></div>
    </div>
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">链接</span>
            <input type="text" class="form-control" ng-model="imageTextItem.link"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">标题</span>
        <input type="text" class="form-control" ng-model="imageTextItem.title"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
<div class="row">
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">图片</span>
            <input type="text" class="form-control" ng-model="imageTextItem.image"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">图片文字</span>
        <input type="text" class="form-control" ng-model="imageTextItem.text"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">链接</span>
        <input type="text" class="form-control" ng-model="imageTextItem.link"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">标题</span>
        <input type="text" class="form-control" ng-model="imageTextItem.title"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
<div class="row">
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">图片</span>
            <input type="text" class="form-control" ng-model="imageTextItem.image"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">图片文字</span>
        <input type="text" class="form-control" ng-model="imageTextItem.text"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">链接</span>
        <input type="text" class="form-control" ng-model="imageTextItem.link"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">标题</span>
        <input type="text" class="form-control" ng-model="imageTextItem.title"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
<div class="row">
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">图片</span>
            <input type="text" class="form-control" ng-model="imageTextItem.image"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">图片文字</span>
        <input type="text" class="form-control" ng-model="imageTextItem.text"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">链接</span>
        <input type="text" class="form-control" ng-model="imageTextItem.link"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">标题</span>
        <input type="text" class="form-control" ng-model="imageTextItem.title"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
</div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
<div class="row">
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">标题</span>
            <input type="text" class="form-control" ng-model="imageTextBlock.name"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='hover-bg-color-grey' ng-repeat='imageTextItem in imageTextBlock.imageTextItems'>
        <div class="row">
            <div class=" p-a-1 col-xs-6">
                <div class='input-group input-group-sm'>
                    <span class="input-group-addon bg-info">图片</span>
                    <input type="text" class="form-control" ng-model="imageTextItem.image"/>
                </div>
            </div>
            <div class='col-xs-6'></div>
        </div>
        <div class=" p-a-1 col-xs-6">
            <div class='input-group input-group-sm'>
                <span class="input-group-addon bg-info">图片文字</span>
                <input type="text" class="form-control" ng-model="imageTextItem.text"/>
            </div>
        </div>
        <div class='col-xs-6'></div>
    </div>
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">链接</span>
            <input type="text" class="form-control" ng-model="imageTextItem.link"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">标题</span>
        <input type="text" class="form-control" ng-model="imageTextItem.title"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
<div class="row">
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">图片</span>
            <input type="text" class="form-control" ng-model="imageTextItem.image"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">图片文字</span>
        <input type="text" class="form-control" ng-model="imageTextItem.text"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">链接</span>
        <input type="text" class="form-control" ng-model="imageTextItem.link"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">标题</span>
        <input type="text" class="form-control" ng-model="imageTextItem.title"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
<div class="row">
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">图片</span>
            <input type="text" class="form-control" ng-model="imageTextItem.image"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">图片文字</span>
        <input type="text" class="form-control" ng-model="imageTextItem.text"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">链接</span>
        <input type="text" class="form-control" ng-model="imageTextItem.link"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">标题</span>
        <input type="text" class="form-control" ng-model="imageTextItem.title"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
<div class="row">
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">图片</span>
            <input type="text" class="form-control" ng-model="imageTextItem.image"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">图片文字</span>
        <input type="text" class="form-control" ng-model="imageTextItem.text"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">链接</span>
        <input type="text" class="form-control" ng-model="imageTextItem.link"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">标题</span>
        <input type="text" class="form-control" ng-model="imageTextItem.title"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
</div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
<div class="row">
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">标题</span>
            <input type="text" class="form-control" ng-model="imageTextBlock.name"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='hover-bg-color-grey' ng-repeat='imageTextItem in imageTextBlock.imageTextItems'>
        <div class="row">
            <div class=" p-a-1 col-xs-6">
                <div class='input-group input-group-sm'>
                    <span class="input-group-addon bg-info">图片</span>
                    <input type="text" class="form-control" ng-model="imageTextItem.image"/>
                </div>
            </div>
            <div class='col-xs-6'></div>
        </div>
        <div class=" p-a-1 col-xs-6">
            <div class='input-group input-group-sm'>
                <span class="input-group-addon bg-info">图片文字</span>
                <input type="text" class="form-control" ng-model="imageTextItem.text"/>
            </div>
        </div>
        <div class='col-xs-6'></div>
    </div>
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">链接</span>
            <input type="text" class="form-control" ng-model="imageTextItem.link"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">标题</span>
        <input type="text" class="form-control" ng-model="imageTextItem.title"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
<div class="row">
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">图片</span>
            <input type="text" class="form-control" ng-model="imageTextItem.image"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">图片文字</span>
        <input type="text" class="form-control" ng-model="imageTextItem.text"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">链接</span>
        <input type="text" class="form-control" ng-model="imageTextItem.link"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">标题</span>
        <input type="text" class="form-control" ng-model="imageTextItem.title"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
<div class="row">
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">图片</span>
            <input type="text" class="form-control" ng-model="imageTextItem.image"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">图片文字</span>
        <input type="text" class="form-control" ng-model="imageTextItem.text"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">链接</span>
        <input type="text" class="form-control" ng-model="imageTextItem.link"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">标题</span>
        <input type="text" class="form-control" ng-model="imageTextItem.title"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
<div class="row">
    <div class=" p-a-1 col-xs-6">
        <div class='input-group input-group-sm'>
            <span class="input-group-addon bg-info">图片</span>
            <input type="text" class="form-control" ng-model="imageTextItem.image"/>
        </div>
    </div>
    <div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">图片文字</span>
        <input type="text" class="form-control" ng-model="imageTextItem.text"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">链接</span>
        <input type="text" class="form-control" ng-model="imageTextItem.link"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
<div class=" p-a-1 col-xs-6">
    <div class='input-group input-group-sm'>
        <span class="input-group-addon bg-info">标题</span>
        <input type="text" class="form-control" ng-model="imageTextItem.title"/>
    </div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
</div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
</div>
</div>
<div class='col-xs-6'></div>
</div>
</div>
</hr>
    
