<div class="row" role="tablist">
    <div class="card  m-b-0 m-t-0" ng-repeat="menuItem in menuItems">
        <div class="card-header m-b-0" role="tab">
            <a href="javascript:void(0)" ng-click="menuItem.collapse=!menuItem.collapse">

                <h5 class="card-title  m-b-0">
                    <i class="{{menuItem.class}} padding-left-10"></i>
                    {{menuItem.name}}
                    <i class="fa pull-right padding-right-30"
                       ng-class="{'fa-angle-down':!menuItem.collapse,'fa-angle-right':menuItem.collapse}"></i>
                </h5>
            </a>
        </div>
        <div class="card-block p-a-0 m-a-0"
             ng-class="{'collapse':menuItem.collapse,'in':!menuItem.collapse}">
            <div class="list-group">
                <a class="list-group-item" ng-repeat="subMenuItem in menuItem.menuItem" ng-href="{{subMenuItem.link}}">
                    <i class="{{subMenuItem.class}} padding-left-20"></i>
                    <span class="label label-default label-pill pull-right margin-right-20">14</span>{{subMenuItem.name}}
                </a>

            </div>
        </div>
    </div>

</div>