<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
       default-autowire="byName" default-lazy-init="false">
	<!--<mvc:default-servlet-handler />-->

    <mvc:resources mapping="/statics/**" location="/statics/"/>


    <!-- 国际化,并且可以批定文件编码,可以使用classpath: 或者WEB-INF/ 前缀 
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
    	<property emailOrPhone="basenames">
    		<list>
    			<value>classpath:i18n/messages</value>
    			<value>classpath:ValidationMessages</value>
    		</list>
    	</property>
    	<property emailOrPhone="defaultEncoding" value="UTF-8"/>
    	<property emailOrPhone="cacheSeconds" value="60"/>
    </bean>
-->

	<!-- 属性文件读入,使用rapid中的JdbcPlaceholderConfigurer则可以从数据库读取配置信息 -->
	<bean id="configProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!--<property emailOrPhone="ignoreUnresolvablePlaceholders" value="true"></property>-->
		<property name="locations">
			<list>
                <value>classpath*:appConfig.local.properties</value>
			</list>
		</property>
	</bean>
	<!--<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">-->
		<!--<property emailOrPhone="locations">-->
			<!--<list>-->
				<!--<value>classpath*:appConfig.local.properties</value>-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->
	<!--<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">-->
		<!--<property emailOrPhone="properties" ref="configProperties"/>-->
	<!--</bean>-->

    <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

        <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="10000000"/>  <!--10M-->
        <property name="defaultEncoding" value="utf-8"/>

    </bean>


</beans>