<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="byName" default-lazy-init="false">

	<!--<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>-->
	<bean id="packagesToScan" class="org.springframework.beans.factory.config.ListFactoryBean">
		<property name="sourceList">
			<list>
				<value>com.lanzuan.entity</value>
				<value>com.lanzuan.support.mapReduce</value>
			</list>
		</property>
	</bean>
	<!--<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">-->
		<!--<property emailOrPhone="dataSource" ref="dataSource" />-->
	<!--</bean>-->
	<!--<bean id="jdbcTemplate2" class="org.springframework.jdbc.core.JdbcTemplate">-->
		<!--<property emailOrPhone="dataSource" ref="dataSource2" />-->
	<!--</bean>-->

	<!--Hibernate Annotation SessionFatory -->
	<!--<bean id="sessionFactory"-->
		<!--class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">-->
		<!--<property emailOrPhone="dataSource" ref="dataSource" />-->

		<!--&lt;!&ndash; packagesToScan可以自动搜索某个package的全部标记@Entity class &ndash;&gt;-->
		<!--<property emailOrPhone="packagesToScan">-->
			<!--<list>-->
				<!--<value>com.lanzuann.persistence.**</value>-->
			<!--</list>-->
		<!--</property>-->
		<!--<property emailOrPhone="hibernateProperties">-->
			<!--<props>-->
				<!--&lt;!&ndash;常用数据库方言 MySQL5Dialect,SQLServerDialect,OracleDialect,SybaseDialect,DB2Dialect,HSQLDialect &ndash;&gt;-->
				<!--<prop key="hibernate.dialect">${app.dataSource.hibernateDialect}</prop>-->
				<!--<prop key="hibernate.show_sql">${app.hibernate.show_sql}</prop>-->
				<!--<prop key="hibernate.format_sql">true</prop>-->
				<!--<prop key="hibernate.use_sql_comments">false</prop>-->
				<!--<prop key="hibernate.default_batch_fetch_size">20</prop>-->
				<!--<prop key="hibernate.max_fetch_depth">200</prop>-->
				<!--<prop key="hibernate.hbm2ddl.auto">#{-->
					<!--systemProperties['app.hibernate.db.hbm2ddl'] == null ?-->
					<!--'${app.hibernate.db.hbm2ddl:none}' == 'create-once' ? 'create' : '${app.hibernate.db.hbm2ddl:none}' :-->
					<!--systemProperties['app.hibernate.db.hbm2ddl']-->
					<!--}-->
				<!--</prop>-->
				<!--&lt;!&ndash; <prop key="hibernate.default_schema">USERS</prop> &ndash;&gt;-->
			<!--</props>-->
		<!--</property>-->
	<!--</bean>-->


	<!--<bean id="sessionFactory2"-->
		<!--class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">-->
		<!--<property emailOrPhone="dataSource" ref="dataSource2" />-->

		<!--&lt;!&ndash; packagesToScan可以自动搜索某个package的全部标记@Entity class &ndash;&gt;-->
		<!--<property emailOrPhone="packagesToScan">-->
			<!--<list>-->
				<!--<value>com.lanzuann.persistence.**</value>-->
			<!--</list>-->
		<!--</property>-->
		<!--<property emailOrPhone="hibernateProperties">-->
			<!--<props>-->
				<!--&lt;!&ndash;常用数据库方言 MySQL5Dialect,SQLServerDialect,OracleDialect,SybaseDialect,DB2Dialect,HSQLDialect &ndash;&gt;-->
				<!--<prop key="hibernate.dialect">${app.dataSource.hibernateDialect}</prop>-->
				<!--<prop key="hibernate.show_sql">${app.hibernate.show_sql}</prop>-->
				<!--<prop key="hibernate.format_sql">true</prop>-->
				<!--<prop key="hibernate.use_sql_comments">false</prop>-->
				<!--<prop key="hibernate.default_batch_fetch_size">20</prop>-->
				<!--<prop key="hibernate.max_fetch_depth">200</prop>-->
				<!--<prop key="hibernate.hbm2ddl.auto">#{-->
					<!--systemProperties['app.hibernate.db.hbm2ddl'] == null ?-->
					<!--'${app.hibernate.db.hbm2ddl:none}' == 'create-once' ? 'create' : '${app.hibernate.db.hbm2ddl:none}' :-->
					<!--systemProperties['app.hibernate.db.hbm2ddl']-->
					<!--}-->
				<!--</prop>-->
			<!--</props>-->
		<!--</property>-->
	<!--</bean>-->

	<!--<bean id="transactionManager"-->
		<!--class="org.springframework.orm.hibernate3.HibernateTransactionManager">-->
		<!--<property emailOrPhone="sessionFactory" ref="sessionFactory" />-->
		<!--<property emailOrPhone="prepareConnection" value="false" />-->
	<!--</bean>-->

	<!-- component-scan自动搜索@Component , @Controller , @Service , @Repository等标注的类 -->
	<context:component-scan base-package="com.lanzuan.**.dao" />

</beans>
