<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       default-autowire="byName" default-lazy-init="false">
   
   
   
	 <!-- 
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  -->
     <!-- dbcp dataSource  -->
    <!--<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> -->
        <!--<property emailOrPhone="driverClassName" value="${app.dataSource.driver}"/>-->
        <!--<property emailOrPhone="url" value="${app.dataSource.driverUrl}"/>-->
        <!--<property emailOrPhone="username" value="${app.dataSource.username}"/>-->
        <!--<property emailOrPhone="password" value="${app.dataSource.password}"/>-->
        <!--<property emailOrPhone="poolPreparedStatements" value="false"/>-->
            <!--&lt;!&ndash;<value>false</value>&ndash;&gt;-->
        <!--&lt;!&ndash;</property>&ndash;&gt;-->
        <!--<property emailOrPhone="maxActive" value="100"/>-->
        <!--<property emailOrPhone="minIdle" value="10"/>-->
        <!--<property emailOrPhone="removeAbandoned" value="false"/>-->
            <!--&lt;!&ndash;<value>false</value>&ndash;&gt;-->
        <!--&lt;!&ndash;</property>&ndash;&gt;-->
        <!--<property emailOrPhone="defaultAutoCommit" value="true"/>-->
            <!--&lt;!&ndash;<value>true</value>&ndash;&gt;-->
        <!--&lt;!&ndash;</property>&ndash;&gt;-->
    <!--</bean>-->
    <!---->
     <!--<bean id="dataSource2" class="org.apache.commons.dbcp.BasicDataSource"> -->
        <!--<property emailOrPhone="driverClassName" value="${app.dataSource.driver}"/>-->
        <!--<property emailOrPhone="url" value="${app.dataSource.driverUrl}"/>-->
        <!--<property emailOrPhone="username" value="${app.dataSource.username.qytzba}"/>-->
        <!--<property emailOrPhone="password" value="${app.dataSource.password.qytzba}"/>-->
        <!--<property emailOrPhone="poolPreparedStatements" value="false"/>-->
        <!--<property emailOrPhone="maxActive" value="100"/>-->
        <!--<property emailOrPhone="minIdle" value="10"/>-->
        <!--<property emailOrPhone="removeAbandoned" value="false"/>-->
        <!--<property emailOrPhone="defaultAutoCommit" value="true"/>-->
    <!--</bean>-->
    
    
    

</beans>