<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <!--<context-param>-->
    <!--<param-name>isLog4jAutoInitializationDisabled</param-name>-->
    <!--<param-value>true</param-value>-->
    <!--</context-param>-->
    <filter>
        <filter-name>httpsToHttpKeepSessionFilter</filter-name>
        <filter-class>com.lanzuan.website.filter.HttpsToHttpKeepSessionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>authorizedFilter</filter-name>
        <filter-class>com.lanzuan.website.filter.AuthorizedFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>httpsToHttpKeepSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authorizedFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--<listener>-->
    <!--<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>-->
    <!--</listener>-->
    <listener>
        <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.lanzuan.website.listener.CartListener</listener-class>
    </listener>
    <!--<listener>-->
    <!--<listener-class>org.apache.tiles.extras.complete.CompleteAutoloadTilesListener</listener-class>-->
    <!--</listener>-->
    <!-- log4j2-begin -->
    <!--<listener>-->
    <!--<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>-->
    <!--</listener>-->
    <!--<filter>-->
    <!--<filter-name>log4jServletFilter</filter-name>-->
    <!--<filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>log4jServletFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--<dispatcher>REQUEST</dispatcher>-->
    <!--<dispatcher>FORWARD</dispatcher>-->
    <!--<dispatcher>INCLUDE</dispatcher>-->
    <!--<dispatcher>ERROR</dispatcher>-->
    <!--</filter-mapping>-->
    <!-- log4j2-end -->

    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:spring/*.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>*.json</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>*.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>*.bin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
        <!--<welcome-file>/statics/pages/demo/index.html</welcome-file>-->

    </welcome-file-list>
    <!-- 400错误 -->
    <error-page>
    <error-code>400</error-code>
    <location>/statics/page/error/400.html</location>
    </error-page>
    <error-page>
    <error-code>404</error-code>
    <location>/statics/page/error/404.html</location>
    </error-page>
    <error-page>
    <error-code>500</error-code>
    <location>/statics/page/error/500.jsp</location>
    </error-page>
    <!--<taglib>-->
        <!--<taglib-uri>/pageTag</taglib-uri>-->
        <!--<taglib-location>/WEB-INF/tags/pageTag.tld</taglib-location>-->
    <!--</taglib>-->
    <!--<taglib>-->
        <!--<taglib-uri>/functions</taglib-uri>-->
        <!--<taglib-location>/WEB-INF/tags/functions.tld</taglib-location>-->
    <!--</taglib>-->

    <!--<security-constraint>-->
    <!--<web-resource-collection>-->
    <!--<web-resource-name>securedapp</web-resource-name>-->
    <!--<url-pattern>/user/register_phone</url-pattern>-->
    <!--<url-pattern>/user/register_email</url-pattern>-->
    <!--&lt;!&ndash;腾讯审核期间需要去掉&ndash;&gt;-->
    <!--<url-pattern>/user/to_login</url-pattern>-->
    <!--<url-pattern>/user/login/direct/*</url-pattern>-->
    <!--<url-pattern>/order/to_bill/*</url-pattern>-->
    <!--<url-pattern>/user/personal_message</url-pattern>-->
    <!--<url-pattern>/admin-login.jsp</url-pattern>-->
    <!--</web-resource-collection>-->
    <!--<user-data-constraint>-->
    <!--<transport-guarantee>CONFIDENTIAL</transport-guarantee>-->
    <!--</user-data-constraint>-->
    <!--</security-constraint>-->
</web-app>
